<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grabrus.TC.ResourceVerifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Grabrus.TC.ResourceVerifier.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\filestorage\defaultwidgets\7bb87a0cc5864a9392ae5b9e5f9747b7\</value>
            </setting>
        </Grabrus.TC.ResourceVerifier.Properties.Settings>
    </applicationSettings>
</configuration>